# this is just an example env file. copy this to .env and fill in the actual values in .env
PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/vibeit
JWT_SECRET=change-me
OTP_EXPIRY_MINUTES=5

# Spotify OAuth
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=https://c87b4add0111.ngrok-free.app/spotify/callback
SPOTIFY_FRONTEND_REDIRECT=http://localhost:5173/platforms
